.card-container {
  display: flex;
  gap: 10px; /* Espaço entre os cards */
  justify-content: space-between; /* Alinha os cards ao longo do eixo horizontal */
  padding: 10px; /* Adiciona um pouco de espaço ao redor dos cards */
}

.main-container{
  width: 90vh;
  margin: 0 2vh 0 2vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
